# Prefer discrete RTC chip on the SoM over RTC built into the SoC
# for /dev/rtc symlink
SUBSYSTEM=="rtc", KERNEL=="rtc[0-9]", ATTR{name}=="rtc-rv?*", SYMLINK+="rtc", OPTIONS+="link_priority=-99"
